<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Employe</title>
</head>

<body>


    <mat-card>
        <mat-card-content class="categorie-container" style="font-family: 'Times New Roman', Times, serif ">
            <span class="categorie">Employe</span>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo">Ajouter employe</button>

            <!-- Modale pour afficher le formulaire -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel"
                                style="font-family: 'Times New Roman', Times, serif;">
                                Formulaire d'employé
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Formulaire d'Ajout de categorie -->
                            <form [formGroup]="employeForm" (ngSubmit)="onAddEmploye()">
                                <!-- Première partie du formulaire -->
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="nom" class="form-label">Nom : </label>
                                        <input type="text" class="form-control" id="nom" placeholder="Entrez le nom "
                                            formControlName="nom">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="prenom" class="form-label">Prenom : </label>
                                        <input type="text" class="form-control" id="prenom"
                                            placeholder="Entrez le prenom" formControlName="prenom">
                                    </div>
                                </div>

                                <!-- Deuxième partie du formulaire -->
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="genre" class="form-label">Genre : </label>
                                        <select class="form-select form-select-sm" aria-label="Small select example"
                                            id="genre">
                                            <option selected disabled>Selectionner un genre</option>
                                            <ng-container *ngFor="let genre of Genre">
                                                <option [value]="genre.id">{{ genre.name }}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="email" class="form-label">Email : </label>
                                        <input type="text" class="form-control" id="email" placeholder="Entrez l' email"
                                            formControlName="email">
                                        <span class="focus-input100"></span>
                                        <span class="symbol-input100">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>

                                <!-- Troisième partie du formulaire -->
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="date_Embauche" class="form-label">date_Embauche : </label>
                                        <input type="date" class="form-control" id="date_Embauche"
                                            placeholder="Entrez la date_Embauche" formControlName="date_Embauche">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="pays" class="form-label">Pays : </label>
                                        <select class="form-select form-select-sm" aria-label="Small select example"
                                            id="pays">
                                            <option selected disabled>Choisissez un pays</option>
                                            <ng-container *ngFor="let country of africaCountries">
                                                <option [value]="country.id">{{ country.name }}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>

                                <!-- Quatrième partie du formulaire -->
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="ville" class="form-label">Ville : </label>
                                        <input type="text" class="form-control" id="ville" placeholder="Entrez le ville"
                                            formControlName="ville">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="salaireBase" class="form-label">SalaireBase : </label>
                                        <input type="number" class="form-control" id="salaireBase"
                                            placeholder="Entrez le salaireBase" formControlName="salaireBase">
                                    </div>
                                </div>

                                <!-- Cinquième partie du formulaire -->
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="prime" class="form-label">Prime : </label>
                                        <input type="number" class="form-control" id="prime"
                                            placeholder="Entrez le prime" formControlName="prime">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>




        </mat-card-content>
    </mat-card>

    <br>

    <div class="search-bar">
        <input [(ngModel)]="searchValue" style="font-family: 'Times New Roman', Times, serif;" placeholder="Rechercher un employe" />
        <i class="fas fa-search"></i>
    </div>

    <style>
        .custom-btn {
            border: none;
            outline: none;
            box-shadow: none;
            background-color: white;
        }
    </style>


    <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3" style="font-family: 'Times New Roman', Times, serif;">
        Liste Des Employés
    </nav>


    <!--<div class="search-bar">
        <input [(ngModel)]="searchValue" placeholder="Rechercher approvisionnement" style="font-family: 'Times New Roman', Times, serif;" />
        <i class="fas fa-search" ></i>
    </div>-->

    <table class="table" style="font-family: 'Times New Roman', Times, serif;">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">genre</th>
                <th scope="col">Adresse</th>
                <th scope="col">Date_Embauche</th>
                <th scope="col">Pays</th>
                <th scope="col">Ville</th>
                <th scope="col">SalaireBase</th>
                <th scope="col">Prime</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let employe of filteredEmploye">
                <td> {{ employe.employeId }}</td>
                <td> {{ employe.nom }}</td>
                <td> {{ employe.prenom }}</td>
                <td> {{ employe.genre }} </td>
                <td> {{ employe.email }} </td>
                <td> {{ employe.date_Embauche }} </td>
                <td> {{ employe.pays }} </td>
                <td> {{ employe.ville }} </td>
                <td> {{ employe.salaireBase }} </td>
                <td> {{ employe.prime }} </td>
                <td>
                    <div style="display: flex; gap: 20px;">
                        <button class="icon-button" (click)="onDeleteEmployeConfirmation(employe.employeId)"><i
                                class="fas fa-trash-alt" style="color: red;"></i></button>
                        <a routerLink="/dashboard/updateProd"> <i class="fas fa-edit" style="color: blue;"></i> </a>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>



    <div class="container">
        <router-outlet> </router-outlet>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

</body>

</html>